div#combinedSingleMouseOver_Super_Div {
    position: absolute;
}
div#combinedSingleMouseOverDiv {
    background-color: white;
}
div#ophrsEffByFlowRangeSummary2MouseOverContainer {
    font-size: 11px;
    position: absolute;
    background-color: rgba(255,255,230,0.8);
}

div#combinedSingleZoomOuterDiv>table {
    background-color: white;
}
td.zoomPanImgTd>img.zoomPanImg {
    width: 13px;
}
td.zoomPanImgTd {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}

table.recommendationsLegendTable {
    border-spacing: 0;
    border-collapse: separate;
    background-color: white;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableHeaderRow>th.showFunctionColumn {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow>td.colorColumn {
    width: 35px;
    min-width: 35px;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow>td.rankColumn {
    text-align: center;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow>td.pumpsColumn,
table.recommendationsLegendTable>tr.recommendationsLegendTableHeaderRow>th.pumpsColumn
 {
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableHeaderRow>th {
    border-bottom: 1px solid #C0C0C0;
}
td#recommendationsLegendDivParentTd {
    padding-right: 12px;
}

table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow>td.opHrsColumn,
table.recommendationsLegendTable>tr.recommendationsLegendTableHeaderRow>th.opHrsColumn
 {
    text-align: center;
    padding-left: 7px;
    padding-right: 4px;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow>td.effColumn,
table.recommendationsLegendTable>tr.recommendationsLegendTableHeaderRow>th.effColumn {
    padding-left: 4px;
    text-align: center;
}

table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow>td {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 0;
    border-right: 0;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow>td.colorColumn {
    border-left: 1px solid transparent;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow>td.effColumn {
    border-right: 1px solid transparent;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow.active>td.colorColumn {
    border-left: 1px solid black;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow.active>td.effColumn {
    border-right: 1px solid black;
}
table.recommendationsLegendTable>tr.recommendationsLegendTableContentRow.active>td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
td#showRecommendationsBucketTableCheckboxParentTd {
    padding-left: 30px;
}


table.combinedSingleLegendTable {
    border-spacing: 0;
    border-collapse: separate;
    background-color: white;
}
table.combinedSingleLegendTable>tr.combinedSingleLegendTableContentRow>td.colorColumn {
    width: 35px;
    min-width: 35px;
}
table.combinedSingleLegendTable {
    font-size : 13px;
}
/* #charCurveStretchHoriz, #charCurveAntiStretchHoriz */
span.stretchButton>span{
    font-size: 24px;
}
/* #charCurveStretchHoriz */
span.stretchButton.horizontal {
    margin-left: 8px;
}
table.zoomTable td.magnif {
    cursor: pointer;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
table.zoomTable td.magnif td.magnifPlusMinus {
    font-size: 16px;
}
td.stretchButtonsParentTd {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
td.stretchButtonsParentTd * {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

td#charCurvePumpButtonsParentTd {
    padding-right: 20px;
}
td#pumpCombAnaVerticalAxisButtonsParentTd {
    padding-right: 20px;
}
td#pumpCombCompVerticalAxisButtonsParentTd {
    padding-right: 20px;
}
td#recommendationsFlowBucketButtonsParentTd {
    padding-right: 20px;
}

#timeSeriesErrorContainer {
    color: red;
    margin-bottom: 7px;
}

/****************global*****************/
/*
.ui-tabs-anchor {
	font-size: 10px !important;
	padding-left: 5px !important;
	padding-right: 3px !important;
	padding-top: 3px !important;
	padding-bottom: 3px !important;
}
*/
.ui-widget {
    background-color: #EEE;
}
.ui-widget-content {
    background-image: none;
}
div#ophrsEffMainTabs.ui-tabs>div.ui-tabs-panel {
    margin-left: -26px;
    margin-top: -7px;
}
div#ophrsEffMainTabs.ui-tabs>div#ophrsEffSecondSummary.ui-tabs-panel {
    margin-left:  -24px;
}
div#ophrsEffMainTabs {
    margin-top: 6px;
}
/*******************************/
div.ui-tabs > ul.ui-tabs-nav > li.ui-state-active.ui-tabs-active {
background: #9eb7cb; /* Old browsers */
background: -moz-linear-gradient(top,  #9eb7cb 0%, #e5e5e5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9eb7cb), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9eb7cb 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9eb7cb 0%,#e5e5e5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9eb7cb 0%,#e5e5e5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9eb7cb 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eb7cb', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  border-right: 1px solid #AAAAAA;
  height: 37px;
  margin: 0 0 -1px;
  padding: 0;
  position: relative;
}
#ophrsEffKontent div.ui-tabs > ul.ui-tabs-nav > li.ui-state-active.ui-tabs-active{ height:24px;
background: #9eb7cb; /* Old browsers */
background: -moz-linear-gradient(top,  #9eb7cb 0%, #e5e5e5 70%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9eb7cb), color-stop(70%,#e5e5e5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9eb7cb 0%,#e5e5e5 70%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9eb7cb 0%,#e5e5e5 70%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9eb7cb 0%,#e5e5e5 70%); /* IE10+ */
background: linear-gradient(to bottom,  #9eb7cb 0%,#e5e5e5 70%); /* W3C */
}
div.ui-tabs > ul.ui-tabs-nav > li.ui-state-active.ui-tabs-active > a.ui-tabs-anchor {
  color: black;
  font-size: 10px;
  font-weight: normal;
  margin: 0 !important;
  padding: 5px 10px;
  outline:0;
}

div.ui-tabs > ul.ui-tabs-nav > li.ui-state-default > a.ui-tabs-anchor {
  color: black;
  font-size: 11px;
  font-weight: normal;
  margin: 0 !important;
  padding: 5px 10px;
}
div.ui-tabs > ul.ui-tabs-nav > li.ui-state-default > a.ui-tabs-anchor:hover{ background:#e2eaf1;}
div.ui-tabs > ul.ui-tabs-nav > li.ui-state-default, div.ui-tabs > ul.ui-tabs-nav {
  background-color: #E5E5E5;
  background-image: none;
  border-bottom: 1px solid #AAAAAA;
  border-left: 0 none;
  border-radius: 0 0 0 0;
  border-right: 1px solid #AAAAAA;
  margin: 0;
  padding: 0;
}
div.ui-tabs>ul.ui-tabs-nav>li.ui-state-default:first-child {
    border-left: 1px solid #AAA;
}
div.ui-tabs>ul.ui-tabs-nav>li.ui-state-default {
    border-top: 0;

}
div.ui-tabs > ul.ui-tabs-nav {
  border-top: 1px solid #AAAAAA;
  padding: 0 20px;
}
div.ui-tabs>div.ui-tabs-panel#timeSeriesTab {
    border: 3px solid #5c88b0;
	padding-right:0;
}
div#ophrsEffMainTabs.ui-tabs>div.ui-tabs-panel {
    border: 0;
}
div.ui-tabs.ui-corner-all {
    border: 0;
}
   
/**********************************************/


.this_was_h3_once {
    font-size: 12pt;
    color: white;
    background-color: #5c88B0;
	background-image: url("../img/blue2.png");
    border-radius: 3px 3px 3px 3px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-size: 100% 100%;
    background-repeat:no-repeat;
}
h3{
	background: -moz-linear-gradient(-90deg, rgb(228, 236, 242) 0%, rgb(92, 136, 176) 100%) repeat scroll 0% 0% transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(228, 236, 242)), to(rgb(92, 136, 176)));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4ecf2', endColorstr='#5c88b0');
    background: -ms-linear-gradient(top, #e4ecf2, #5c88b0);
    background: -o-linear-gradient(top, #e4ecf2, #5c88b0);
	font-family: Arial,Helvetica,sans-serif; 
	font-size: 14px; 
	font-weight: normal; 
	font-style: normal;
	padding-left: 7px;
    padding-top: 3px;
    padding-bottom: 5px;
	margin-top:-15px;
	margin-left:-24px;
	margin-bottom:0px;
}
body, #tabs {
    background-color: #E5E5E5;
	margin:0 !important;
	padding:0 !important;
}
/****************** char curve and eff curve *******************/
#charCurveChart {
    width: 850px;
    height: 600px;
}
#effCurveChart {
    width: 850px;
    height: 600px;
}
table#charCurveChartTable>tbody>tr>td,
table#effCurveChartTable>tbody>tr>td,
td#tdTimeSeriesRight {
    vertical-align: top;
}
/*.chosenButton {
    font-weight: bold;
    background-color: #99FF77;
}*/
/* #tdCASdotted { vertical-align: bottom;} */
/**********************************************************/
#combinedAndSingleChart {
    width: 850px;
    height: 600px;
}
#tdPumpCombCompRight,
#tdCombinedAndSingleRight,
#tdPumpCombAnaRight {
    vertical-align: top;
}

table.summary {
    border: 2px solid #C0C0C0; 
    font-size: 14px;
	color:rgb(39,64,139);
	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal; 
}
table.summary tr.oddRow {

	 background-color:#FFFFE1;
}
table.summary tr.evenRow {
     background-color:#FFFFE1;
}
table.summary tr.headerRow {
     background-color: rgb(249, 249, 249);
	 color:rgb(0,0,0);
}
table.summary tr td {
     border-right: 1px solid #807F7A;
     padding: 4px;
     border-top: 1px solid #807F7A;
	 border-color:#636363
}
table.summary tr th {
    border-right: 1px solid black;
    font-size: 82%;
    font-weight: 600;
	border-color:#636363
}
table.summary tr th:last-child {
    border-right: 0;
}
table.summary tr td:last-child {
     border-right: 0;
}
table.summary tr td:nth-child(1){
    text-align: left;
}
table.summary tr td:nth-child(2){
    text-align: right;
}
table.summary tr td:nth-child(3){
    text-align: right;
}
div#timeSeriesHintHandle, div#pumpCombinPerfHintHandle {
  font-size: 12px;
  min-width: 173px;
  padding: 5px;
}
div#timeSeriesNumComboChanges {
    white-space: nowrap;
    padding-bottom: 7px;
}
table.mouseOverHintTable > tbody > tr > th {
  font-weight: normal;
  padding: 4px;
  text-align: center;
}
table.mouseOverHintTable>tbody>tr>th:first-child {
    text-align: left;
}
table.mouseOverHintTable>tbody>tr>th {
    text-align: center;
}
div#timeSeriesRightBottom {
	margin-top: 14px;
}
div#pumpCombinPerfRightBottom {
    margin-top: 14px;
}
div#pumpCombAnaRightBottom {
    margin-top: 14px;
}
div#pumpCombCompRightBottom {
    margin-top: 3px;
}
/*button.combinedAndSingleChosenOrderingButton, button.pcpChosenSortingButton, button.chosenVAbutton {
    font-weight: bold;
    background-color: #9977FF;
}
button.chosenComboBtnsOrdering {
    font-weight: bold;
    background-color: #9977FF;
}*/
/***********************************************/
/* button.combinationButton {font-size : 80%;} */
    /* applies to all the buttons for choosing a pump combination (selected or not, "pseudo" or not)*/
    
/*button.pseudoButton {
    background-color: #FFFFFF;
    color: #000000;
}*/
    /*"heading button" at the beginning of the pump combination chooser button series, applies to
    #casLeadingPseudoBtn, #pcpLeadingPseudoBtn, #pcaLeadingPseudoBtn $pcc1stPseudoBtn, pcc2ndPseudoBtn*/
/*button.chosenComboBtn {
    font-weight: bold;
    background-color: #99FF77;
}*/


table.mouseOverHintTable {
	border-collapse: collapse;
    border: 1px #C0C0C0 solid;
    border-spacing: 7px 1px;
	text-align: left; 
	font-weight:bold;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	font-size:13px;
}
table.mouseOverHintTable tr.oddRow td {
     background-color: #FFFFE1;
	 border: 1px #807F7A solid;
	 padding:4px;
}
table.mouseOverHintTable tr.evenRow td {
     background-color: #FFFFE1;
	 border: 1px #807F7A solid;
}
table.mouseOverHintTable tr.oddRow td.chosenColumn {
     background-color: #FFDDBB;
	 border: 1px #8D8D71 solid;
}
table.mouseOverHintTable tr.evenRow td.chosenColumn {
     background-color: #BBDDFF;
	 border: 1px #8D8D71 solid;
}
table.mouseOverHintTable th.chosenColumn {
    border: 1px #8D8D71 solid;
}
div.dragHandle, tr.dragHandle {
    cursor: move;
    background: #fcfbf9; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfbf9 0%, #e5e3e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbf9), color-stop(100%,#e5e3e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfbf9 0%,#e5e3e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf9', endColorstr='#e5e3e6',GradientType=0 ); /* IE6-9 */

	border-color:#807F7A;
	/*width:93% !important;*/
}
/* #casHintMinimizer {} */
.miniMaxiTriag {
    float: right;
    cursor: pointer;
    font-size: 12px;
}
/************* rebuild potential ****************/
#rebuild table {
    border: 1px #807F7A solid;
}
#rebuild table tr.oddRow {
     background-color:#FFFFE1;
}
#rebuild table tr.evenRow {
     background-color:#FFFFE1;
}
#rebuild table tr.headerRow {

background: #fcfbf9; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfbf9 0%, #e5e3e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbf9), color-stop(100%,#e5e3e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfbf9 0%,#e5e3e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf9', endColorstr='#e5e3e6',GradientType=0 ); /* IE6-9 */
}

#rebuild>table>tbody>tr.headerRow th{
	border-color:#636363;
}
#rebuild table tr td {
     border-right: 1px solid #807F7A;
     border-top: 1px solid #807F7A;
     text-align: right;
	 padding:5px;
}
#rebuild table tr th {
    padding:5px;
    border-right: 1px solid #807F7A;
    font-size: 12px;
	text-align: center;
	font-weight:normal;
}
#rebuild table tr th:last-child {
    border-right: 0;
}
#rebuild table tr td:last-child {
     border-right: 0;
}
/*font sizes Rebuild Potential */
#RebuildKontent{
	font-size:14px;
}
#rebuild>table{
	border: 2px solid #807F7A;
}

#rebuild>table>tbody>tr.evenRow{
	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	border: 2px solid #807F7A;
	color:rgb(39,64,139);
}
#rebuild>table>tbody>tr.oddRow{
	background-color:#FFFFE1
	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	border: 2px solid #807F7A;
	color:rgb(39,64,139);
}



.red {
    color : red;
    font-weight : bold;
    font-size: 110%;
}
/********** statistics ********/
table#errorsColChoiceTable {
    background-color: #DDEEFF;
}
#statisticsTable table, table#errorsTable {
    border: 2px solid #C0C0C0; 
    font-size: 14px;
	color:rgb(39,64,139);
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal; 
	margin-left:-24px;
}
table#errorsTable {
    background-color:#FFFFE1;
}
#statisticsTable table tr.oddRow {
	 background-color:#FFFFE1;
}
#statisticsTable table tr.evenRow {
     background-color:#FFFFE1;
}
#statisticsTable table tr.headerRow, table#errorsTable tr.headerRow {
     background: #fcfbf9; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfbf9 0%, #e5e3e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbf9), color-stop(100%,#e5e3e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfbf9 0%,#e5e3e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf9', endColorstr='#e5e3e6',GradientType=0 ); /* IE6-9 */

	 color:rgb(0,0,0);
}
#statisticsTable table tr td, table#errorsTable tr td{
     border-right: 1px solid #807F7A;
     padding:5px;
     border-top: 1px solid #807F7A;
	 border-color:#807F7A;
	 text-align: right;
	 font-size:12px;
}
#statisticsTable table tr th, table#errorsTable tr th {
  border-color: #807F7A;
  border-right: 1px solid #807F7A;
  font-size: 12px;
  font-weight: normal;
  padding: 5px;
}
#statisticsTable table tr th:last-child, table#errorsTable, tr th:last-child {
    border-right: 0;
}
#statisticsTable table tr td:last-child, table#errorsTable tr td:last-child {
     border-right: 0;
}
/*.upTrig, .downTriag {
     width: 11px; height: 7px; 
    background-repeat:no-repeat;
    float: right;
}*/
.upTriag {
    background-image: url("../img/triaUp.png");
    background-repeat:no-repeat;
    float: right;
    width: 12px;
    height: 8px;
}
.downTriag {
    background-image: url("../img/triaDown.png");
    background-repeat:no-repeat;
    float: right;
    width: 12px;
    height: 8px;
}
th.sortable:hover {
    /* background: -moz-linear-gradient(-90deg, rgb(251, 252, 253) 0%, rgb(229, 229, 229) 100%) repeat scroll 0% 0% transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(251, 252, 253)), to(rgb(229, 229, 229)));
     */
    background: -moz-linear-gradient(-90deg, rgb(247, 251, 255) 0%, rgb(210, 215, 220) 100%) repeat scroll 0% 0% transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(247, 251, 255)), to(rgb(210, 215, 220)));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7fbff', endColorstr='#d2d7dc');
    background: -ms-linear-gradient(top, #f7fbff, #d2d7dc);
    background: -o-linear-gradient(top, #f7fbff, #d2d7dc);
}
th.sortable.chosen {
    background: -moz-linear-gradient(-90deg, rgb(247, 255, 251) 0%, rgb(210, 220, 215) 100%) repeat scroll 0% 0% transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(247, 255, 251)), to(rgb(210, 220, 215)));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7fffb', endColorstr='#d2dcd7');
    background: -ms-linear-gradient(top, #f7fffb, #d2dcd7);
    background: -o-linear-gradient(top, #f7fffb, #d2dcd7);
}
th.sortable.chosen:hover {
    background: -moz-linear-gradient(-90deg, rgb(247, 255, 251) 0%, rgb(200, 210, 205) 100%) repeat scroll 0% 0% transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(247, 255, 251)), to(rgb(200, 210, 205)));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf5f1', endColorstr='#c8d2cd');
    background: -ms-linear-gradient(top, #edf5f1, #c8d2cd);
    background: -o-linear-gradient(top, #edf5f1, #c8d2cd);
}
th.sortable.chosen:active, th.sortable:active {
    background: -moz-linear-gradient(-90deg, rgb(255, 247, 251) 0%, rgb(200, 210, 205) 100%) repeat scroll 0% 0% transparent;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 247, 251)), to(rgb(210, 200, 205)));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5edf1', endColorstr='#d2c8cd');
    background: -ms-linear-gradient(top, #f5edf1, #d2c8cd);
    background: -o-linear-gradient(top, #f5edf1, #d2c8cd);
}
th.sortable {
    cursor: pointer;
}
/***************************************/
table#recoList>tbody>tr>td:last-child {
    text-align: right;
}
table#recoList tr.oddRow {
    background-color:#FFFFE1;
	color:rgb(39,64,139);
	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	border: 2px solid #807F7A;
}
table#recoList tr.evenRow {
    background-color:#FFFFE1;
	color:rgb(39,64,139);
	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	border: 2px solid #807F7A;
}
table#recoList tr.headerRow {
    background: #fcfbf9; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfbf9 0%, #e5e3e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbf9), color-stop(100%,#e5e3e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfbf9 0%,#e5e3e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf9', endColorstr='#e5e3e6',GradientType=0 ); /* IE6-9 */

	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	border: 2px solid #807F7A;
}
table#recoList tr.selectedRow.oddRow {
    background-color: rgb(111, 255, 111);
	color:rgb(39,64,139);
	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	border: 2px solid #C0C0C0;
}
table#recoList tr.selectedRow.evenRow {
    background-color: rgb(111, 255, 111);
	color:rgb(39,64,139);
	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	border: 2px solid #C0C0C0;
}
table#recoList tr.selectedRow td.firstColumn {
    border-left: 2px solid #696968;
}
table#recoList tr.selectedRow td.fifthColumn {
    border-right: 2px solid #C0C0C0;
}
table#recoList th {
    border-top: 1px solid #C0C0C0;
    border-bottom: 1px solid #696968;
    border-right: 1px solid #696968;
	
}
table#recoList th.firstColumn {
    border-left: 1px solid #C0C0C0;
	
}
table#recoList td {
    border-bottom: 1px solid #807F7A;
    border-right: 1px solid #807F7A;
}
table#recoList td.firstColumn {
    border-left: 1px solid #807F7A;
}
#recoChart {
    width: 650px;
    height: 450px;
}
/* old version with button - didn't look right in chrome */
/* table#recoList tr.selectedRow button {  background-image: url('../img/check.png'); } */

div#recommendationsKontent>table>tbody>tr>td {
    vertical-align: top;
}
span.ejsc-titlebar-text>span.recoChartTitle{
    font-size: 150%;
    padding-left: 62px;
}
span.ejsc-legend-owner-title>span.recoChartTitle{
    font-size: 65%;
}
/*
button {
    margin: 0px; this one is for chrome
}
button.chosen {
    background-color: rgb(111, 255, 111);
}
*/
/*************** time series******************************/
table#timeSeriesSliderTableLegend {
    margin-top: -4px;
    padding-bottom: 5px;
}
.sliderTableLegendLeft {}
.sliderTableLegendMiddle {}
.sliderTableLegendRight {}
.sliderTableSlider {
    /*padding-left : 7px;
    padding-right : 15px;*/
    width: 100%;
}
table.sliderTable {
    width: 1050px;
}
td.spacer1 {
    width: 8px;
}
td.spacer2 {
    width: 14px;
}
td.spacer3 {
    width: 40px;
}
td.spacer4 {
    width: 700px;
}
#timeSeriesChart {
    width: 1050px;
    height: 620px;
}
#tdTimeSeriesRight, #tdPumpCombinPerfRight {
    vertical-align: top;
}
#tankLevelsHeading, #tankLevelsHeading2  {
    font-weight: bold;
}
div.pumpListTT {
    /* yellow boxes with pump combination on top of time series chart */
    background-color: rgba(255, 255, 0, 0.2);
    position: absolute;
    border: 1px black solid;
    font-size: 80%;
}
/********** pump combo analysis and comparison *********************/
#pumpCombinPerfChart {
    width: 850px;
    height: 600px;
}
#pumpCombAnaChart {
    width: 850px;
    height: 600px;
}
#pumpCombCompChart {
    width: 850px;
    height: 600px;
}
/*************** op hours and efficiencies by flow range *************************************/
.ophrsEffSmallRotatedChart {
    display: inline-block;
}
.splitButton, .joinButton {
    font-size : 1.5em;
    font-weight : bold;
    position: absolute;
    margin: 0;
    padding: 3px;
    background : #DDDDDD;
    border : 1px dotted black;
    border-radius : 4px;
    cursor : pointer;
}
.splitButton:hover, .joinButton:hover {
    border : 1px dotted black;
    background : #FFFF77;
}
.splitButton:active, .joinButton:active {
    border : 1px solid black;
    background : #AAFF55;
}
#configureFlowBucketsBtn {
    margin-left: 20px;
}
table.savingsTableInner tr.oddRow td, table.savingsTableInner tr.oddRow th, table.savingsTableInner tr.oddRow {
     background-color: #FFFFE1;
     border-right: 1px solid #807F7B;
     border-top: 1px solid #807F7B;
     border-left: 0;
     border-bottom: 0;
	 padding:5px;
	 font-size:12px;
}
table.savingsTable {
    font-size: 12px;
	margin-right:15px;
}
table.savingsTableInner tr.evenRow td, table.savingsTableInner tr.evenRow th, table.savingsTableInner tr.evenRow {
     background-color: #FFFFE1;
     border-right: 1px solid #807F7B;
     border-top: 1px solid #807F7B;
     border-left: 0;
     border-bottom: 0;
}
table.savingsTableInner tr.topHeadRow th {
background: #fcfbf9; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfbf9 0%, #e5e3e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbf9), color-stop(100%,#e5e3e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfbf9 0%,#e5e3e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf9', endColorstr='#e5e3e6',GradientType=0 ); /* IE6-9 */

     border-right: 1px solid #807F7B;
     border-bottom: 0;
     border-left: 0;
     border-top: 0;
	 padding:5px;
	 font-size:12px;
	 font-weight:normal;
}
table.savingsTableUpper > tbody > tr > td, table.savingsTableUpper > tr > th {
  border-bottom: 1px solid #807F7B;
  border-left: 1px solid #807F7B;
  border-top: 1px solid #807F7B;
}
table.uberSavingsTable>tbody>tr>td {
    padding-left : 0px;
    margin-left:  -1px;
    padding-right : 8px;
    padding-top : 5px;
}
#ophrsEffMultiSlider.active {
    padding : 12px;
    border : 2px solid #aaa;
}
#bucketExtra>table>tbody>tr>td, #bucketExtra>table>tbody>tr>th {
    border : 1px black solid;
}
#bucketExtra {
    margin-top: 30px;
}
#doneConfiguringFlowBucketsBtnParentDiv {
    margin-top: 10px;
}
#doneConfiguringFlowBucketsBtn {
    float : right;
}



#FlowRangeSizingToolHeader {
  background: none repeat scroll 0 0 #AAAAAA;
  font-size: 12px;
  left: 25px;
  margin-top: 20px;
  padding: 5px;
  position: absolute;
  width: 161px;
}

/*
div.fieldset {
    border:2px groove ThreeDFace;
    margin:.5em 0;
    padding:0 .5em;
}
h1.legend {
    font-size:100%;
    font-weight:normal;
    margin:-0.5em 0 0;
    background:white;
    color:black;
    float:left;
    padding:0 2px;
}
h1.legend + * {
    clear:left;
}
*/
span.outerEisButton {
  -moz-user-select: none;
  background-color: #ccc;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #aaa;
  color: #000000;
  cursor: pointer;
  outline: medium none;
  overflow: hidden;
  text-align: center;
  z-index: 2;
  padding:1px 5px;
  line-height:14px;
}
span.outerEisButton.small {
    /*display: table-cell;*/
    display: inline-block;
}
span.outerEisButton.big {
    display: inline-block;
}
span.outerEisButton.pseudo, span.outerEisButton.pseudo:hover {
    background: white;
    cursor: text;
}
    
    


span.innerEisButton {
	border: 0px none;
	overflow: hidden;
	font-family: arial,helvetica,sans-serif;
	font-weight: normal;
	font-style: normal;
	
}
span.big > span.innerEisButton {
  color: #222222;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}
span.small>span.innerEisButton {
	font-size: 12px;
    padding-left: 0px;
    padding-right: 0px;
}
span.outerEisButton:hover {
	border-color:#333;
    
}
span.outerEisButton.chosen, span.outerEisButton.chosen:hover {
  background:#a3a3a3;
}
span.outerEisButton.chosen>span.innerEisButton {
    font-weight: 800;
}

div#progressbar {
}
td#loadInfo {
    white-space: nowrap;
}
table#loadstate {
    width: 100%;
}
td#progressbarParent {
    width: 100%;
}
/*#####Tayfun#####*/
/*Time-Series-Content nach oben verschieben*/
#timeSeriesKontent{
	margin-top:7px;
}
/* font sizes in Recommendations by Flow Range*/
#recommendationsKontent>table>tbody>tr>td{
	font-size: 14px;
}
#timeSeriesSliderTableLegend>tbody>tr>{
	font-size: 13px;
}
/*font sizes Char-Curves, eff curves, number buttons on top */
#charCurveControls, #effCurveControls{
	font-size:12px;
	margin:10px 0;
}
/*font sizes Efficiency-Curves  #effCurvePumpButtons */
/*#effCurvePumpButtons{	font-size:13px;}*/
/*font sizes Combined and Single */
#showHideSingleAndCombCheckParent{
	font-size:13px;
}
#combinedAndSingleControlsTopAux{
	font-size:13px;
}

table.casDottedTable>tbody>tr>td {
    text-align: right;
}
table.casDottedTable>tbody>tr>th:first-child {
    text-align: left;
}
table.casDottedTable>tbody>tr>th {
    text-align: center;
}
#casDottedHandle>span{
	font-size:12px;
}
#casDottedHandle {
  border: 0 none;
  color: #000000;
  min-width: 0;
  width: 167px !important;
}
#casDottedContentTable {
    min-width: 180px;
	border-collapse: collapse;
}
#casDottedContentTable tr{
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	color:rgb(39,64,139);
	font-size:13px;
	border-top: 2px solid #C0C0C0;
	border-right:2px solid #C0C0C0;
	border-left:2px solid #C0C0C0;
	}
#casDottedContentTable>tbody>tr>th
{
	color:rgb(0,0,0);
}
#casDottedContentTable tr:nth-child(2n-1){
	background-color:#FFFFE1;
}
#casDottedContentTable tr:nth-child(2n){
	background-color:#FFFFE1;
}

	
#casDottedContentTable td,#casDottedContentTable th{
	border-top: 1px solid #807F7A;
	border-right: 1px solid #807F7A;
	padding:5px;
	font-weight:normal;
}
#casDottedContentTable{
	border: 1px solid #807F7A;
}
/*tank levels table */
#pumpCombinPerfRightTop table{
	border-collapse:collapse;
}

#pumpCombinPerfRightTop table  tr>td:nth-child(2n){
	text-align: right; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	color:rgb(39,64,139);
	font-size:12px;
	border: 1.5px grey solid;
	border-collapse: collapse;
	padding:5px;
}
#pumpCombinPerfRightTop table  tr>td:nth-child(2n-1){
	border-collapse: collapse;
	text-align: left; 
	font-weight:bold;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	font-size:12px;
	color:rgb(0,0,0);
    border: 1.5px #807F7A solid;
	padding:4px;	
}
#pumpCombinPerfRightTop table  tr{
	background-color:#FFFFE1;
}
/*end tank levels table*/


#pumpCombCompRightTop>table tr>td:first-child,#pumpCombAnaRightTop>table tr>td:first-child{
	color:#000000;
}

#combinedAndSingleInfo>table tr>td:nth-child(2n-1){
	color:#000000;
}
#tankLevelsHeadingPcp {
  background: #fcfbf9; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfbf9 0%, #e5e3e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbf9), color-stop(100%,#e5e3e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfbf9 0%,#e5e3e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf9', endColorstr='#e5e3e6',GradientType=0 ); /* IE6-9 */

  font-size: 13px;
  padding: 5px;
}
#rightCharCurveHintTable  tr{
	border-collapse:collapse;
}
#rightCharCurveHintTable tr>th:first-child{
	border-collapse:collapse;
}
#effCurveHintHandle,
#charCurveHintHandle {
	font-size:12px;
}

#charCurveHintHandle>span:first-child{
	font-size:12px;
}
div.mouseOverDate>span.mouseOverDateSpan {
    font-size: 12px;
}


#rightCharCurveHintTable tr.oddRow>th:first-child,#rightEffCurveHintTable tr.oddRow>th:first-child{
	background-color:#FFF9DD;
}
#tdPumpCombAnaRight {
    min-width: 195px;
}
#tdPumpCombCompRight {
    min-width: 250px;
    /*Set Min-Width for Pump Combo Comparison Right Bottom*/
}
#recoList {
    min-width: 420px;
    /*Set Min-Width for Recommendations by Flow Range Left*/
}
#combinedAndSingleInfo table {
    min-width: 195px;
}
#pumpComboAnalysisCheckboxParent,
#pumpCombAnaVerticalAxisButtons,
#pumpCombinationAnalysisControlsTopAux,
#timeSeriesSliderTableLegend,
#pumpCombinPerfOrderByButtons,
#pumpComboComparisonCheckboxParent,
#pcc1stComboControlsTopAux,
#pcc2ndComboControlsTopAux,
#pumpCombCompVerticalAxisButtons,
#charCurvePumpButtons>span>span,
#effCurvePumpButtons>span>span {
    font-size: 13px;
}

#pcaOrderByOpHoursBtn,
#pumpCombAnaVerticalAxisButtons>span,
#pumpCombinPerfOrderByButtons>span,
/*#recommendationsKontent>table>tbody>tr>td>span,*/
#pcc1stOrderByOpHoursBtn,
#pcc2ndOrderByOpHoursBtn,
#pumpCombCompVerticalAxisButtons span,
/*#charCurvePumpButtons>span,*/
/*#effCurvePumpButtons>span,*/
#combinedAndSingleControlsTopAux>span {
    margin-right: 2px;
}
body div#pumpCombinPerfOrderByButtons {
    margin:10px 0;
	font-size:12px;
}
div#pumpCombinPerfOrderByButtons {
    margin-top: 2px;
}
/* white background for all charts */
div[id$='Chart'],
.flowHeadCanvasTable>tbody>tr>td>canvas,
div#ophrsEffSecondSummary>span>div,
div[id^=flowRange]>table>tbody>tr>td>div {
    background-color: white
}
/* mouseOverDate is the class user for the header of such tables */
/* .mouseOverHintTable occurs small right where the mouse is in:
(*) time series
(*) pump combination performance
(*) pump combo analysis
(*) pump combo comparison
(*) combined and single
, and bigger,
on the right hand side, in
(*) char curves
(*) eff curvers
(*) comb'n single
should better have been two different classes
only the ones shown on the right should have the min width set,
so that's why we're not using the class 
 */


table#rightCharCurveHintTable,
div#charCurveHintHandle,
table#rightEffCurveHintTable,
div#effCurveHintHandle {
    min-width: 170px;
}
/*
div.flowHeadMouse>div.mouseOverDate,
div.flowHeadMouse table {
    min-width: 227px;
}
*/
div.flowHeadMouse table {
    width: 100%;
}
div.flowHeadMouse>div.mouseOverDate>span{
	font-size:12px;
}
div.flowHeadMouse>div.mouseOverDate{
	border:1px solid #C0C0C0;
	color:#000000;
	font-weight:bold;
    min-width: 177px;
}

div.flowHeadMouse table tr{
	text-align: left; 
	font-family: Arial,Helvetica,sans-serif;
	font-weight: normal; 
	font-style: normal;
	color:rgb(39,64,139);
	font-size:13px;
	border-top: 2px solid #C0C0C0;
	border-right:2px solid #C0C0C0;
	border-left:2px solid #C0C0C0;
	}
div.flowHeadMouse table>tbody>tr>th
{
	color:rgb(0,0,0);
}
div.flowHeadMouse table tr:nth-child(2n-1){
	background-color:rgb(255, 255, 153);
}
div.flowHeadMouse table tr:nth-child(2n){
	background-color:rgb(255, 255, 240);
}

	
div.flowHeadMouse table td, div.flowHeadMouse table th{
	border-top: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
}
div.flowHeadMouse table {
	border: 1px solid #C0C0C0;
}
#tdTimeSeriesRight #timeSeriesNumComboChanges,#timeSeriesRightBottom  #timeSeriesHintHandle span{font-size:12px;}
#timeSeriesRightBottom  #timeSeriesHintHandle span{margin-left:3px;}

table.mouseOverHintTable#timeSeriesHintTable > tbody > tr > th, table.mouseOverHintTable#timeSeriesHintTable > tbody > tr > td {
  padding:2px;
}
#timeSeriesDateRangeSlider, .savingsSliderDiv, .sliderDiv{ background:none repeat scroll 0 0 #E0E0E0 !important; border:1px solid #bbb !important;}
#timeSeriesDateRangeSlider a, .savingsSliderDiv a, .sliderDiv a{
  background: none repeat scroll 0 0 #CACACA !important;
  border: 1px solid #bbb !important;
  outline:0;
}
#timeSeriesDateRangeSlider a:hover, .savingsSliderDiv a:hover, .sliderDiv a:hover{ border:1px solid #999 !important;}

body table#timeSeriesSliderTableLegend{font-size:12px;}
.sliderTableLegendRight #siameseHandles, .sliderTableLegendRight #siameseDescription{float:left;}
.sliderTableLegendRight #siameseDescription{margin-top:3px;}
div.ui-tabs > ul.ui-tabs-nav > li.ui-state-default {
  border-bottom: 0 none !important;
  border-top: 0 none !important;
}
#ophrsEffByFlowRangeTab, #pumpCombinationPerformanceTab, #charCurveTab, #effCurveTab, #statisticsTab, #combinedSingleTab, #RebuildTab{padding-right:0 !important; margin:10px 0;}
body div.ui-tabs > div#timeSeriesTab.ui-tabs-panel, body #recommendationsTab, body #pumpComboAnalysisTab, body #pumpComboComparisonTab {
  margin: 10px 0;
  padding-right: 0;
  border:0;
}
body #configureFlowBucketsBtn:hover, body #showFlowHeadChart5:hover, .big.outerEisButton:hover{
border: 1px solid #333;
	}
#savingsSliderValue0{font-size:12px;}

#bucketExtra > table > tbody > tr > td, #bucketExtra > table > tbody > tr > th{padding:5px;}
body #bucketExtra table tr {
  color: #222222;
}
body #bucketExtra > table > tbody > tr > th{background:#C9DAE8; font-weight:normal;}
#ophrsEffKontent{margin-top:32px;}
body #warningAboutTooLargeFlowRange {
  font-size: 13px;
}
#recommendationsKontent, #pumpComboAnalysisKontent, #pumpComboAnalysisCheckboxParent, #pumpCombinationAnalysisControls, #pumpCombinationAnalysisControlsBotMain, #pumpComboComparisonCheckboxParent, #pccControls,#pcc2ndComboControls, #showHideSingleAndCombCheckParent, #combinedAndSingleControlsTopAux, #combinedAndSingleControlsBotMain{margin-top:10px;}

#recommendationsKontent span.outerEisButton:first-child{border-left:1px solid #aaa;}
#recommendationsKontent span.outerEisButton {
  -moz-user-select: none;
  background-image: none;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #AAAAAA;
  border-left:0;
  color: #000000;
  cursor: pointer;
  line-height: 14px;
  outline: medium none;
  overflow: hidden;
  padding: 1px 5px;
  text-align: center;
  z-index: 2;
}

#recommendationsKontent span.outerEisButton.chosen,#recommendationsKontent span.outerEisButton.chosen:hover {
  background:#a3a3a3;
}
#recoChart, #recoList{margin-top:10px;}
table#recoList td {
  border-bottom: 1px solid #BAC1C7;
  border-right: 1px solid #BAC1C7;
  color: #222222;
  font-size: 13px;
  padding: 5px;
}
table#recoList th {
background: #fcfbf9; /* Old browsers */
background: -moz-linear-gradient(top,  #fcfbf9 0%, #e5e3e6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfbf9), color-stop(100%,#e5e3e6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fcfbf9 0%,#e5e3e6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fcfbf9 0%,#e5e3e6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfbf9', endColorstr='#e5e3e6',GradientType=0 ); /* IE6-9 */

  border-bottom: 1px solid #807F7A;
  border-right: 1px solid #807F7A;
  border-top: 1px solid #807F7A;
  font-weight: normal;
  padding: 5px;
}
body span.outerEisButton.chosen > span.innerEisButton{font-weight:normal;}

#pumpCombinPerfButtons span.innerEisButton {
  font-weight:normal;
}

#pumpCombinPerfButtons span.outerEisButton, #pumpCombinationAnalysisControlsBotMain span.outerEisButton, #pcc1stComboControlsBotMain span.outerEisButton,#pcc2ndComboControlsBotMain  span.outerEisButton {
  border-left:0;
}
#pumpCombinPerfButtons span.outerEisButton:first-child, #pumpCombinationAnalysisControlsBotMain span.outerEisButton:first-child, #pcc1stComboControlsBotMain span.outerEisButton:first-child, #pcc2ndComboControlsBotMain  span.outerEisButton:first-child{  border-left: 1px solid #AAAAAA;}
#pumpCombinPerfRightTop, #pumpCombinPerfRightTop table, #pumpCombinPerfHintTable{width:100% !important;}
#pumpComboAnalysisCheckboxParent, #pumpComboAnalysisCheckboxParent, #pumpCombAnaVerticalAxisButtons, #pumpCombinationAnalysisControlsTopAux, #timeSeriesSliderTableLegend, #pumpCombinPerfOrderByButtons, #pumpComboComparisonCheckboxParent, #pcc1stComboControlsTopAux, #pcc2ndComboControlsTopAux, #pumpCombCompVerticalAxisButtons, #charCurvePumpButtons > span > span, #effCurvePumpButtons > span > span, #pcaStatsHandle span, #pumpCombAnaHintHandle span, #pccStatsHandle span, #pumpCombCompHintHandle span, #savingsSliderValue2, #combinedAndSingleControlsTopAux, #rebuildCommentary{font-size:12px;}
#pumpCombAnaVerticalAxisButtons, body #pumpCombCompVerticalAxisButtons, #statistics, #RebuildKontent, #rebuildCommentary{margin:10px 0;}

#pumpCombAnaRightTop table.summary tr td, #pumpCombCompRightTop table.summary tr td{
  font-size: 13px;
  padding:2px 6px;
}
#pumpCombCompRightTop table.summary tr td{
  padding:1px 5px 1px 6px;
}

#pumpCombAnaRightTop table.summary, #pumpCombCompRightTop table.summary, #pumpCombCompRightTop table.summary
{
	/* width:93% !important; */
}

body #pumpComboAnalysisCheckboxParent, body #pumpComboComparisonCheckboxParent, body #showHideSingleAndCombCheckParent{font-size:10px;}

#combinedAndSingleInfo div.dragHandle, #combinedAndSingleDottedInfo  div.dragHandle{
  font-size: 12px;
  padding: 7px;
}
/************ styles for the buttons that change chart sizes (+, - in h3)**************************************/
.chartSizeChange {
    float: right;
    margin-right: 30px;
    /*background-color: #ccc;*/
}
span#secondSummaryPlusMinus {
    font-size: 12px;
    float: left;
    display: inline-block;
}



table#miscColChoiceTable>tbody>tr>td:first-child {
    border-right: 1px solid black
}

td.sliderTableLabel {
    white-space: nowrap;
}