/*

file opHrsEff.css


http://stackoverflow.com/questions/339923/how-to-set-cellpadding-and-cellspacing-in-css
http://stackoverflow.com/questions/6048913/in-html5-with-respect-to-tables-what-replaces-cellpadding-cellspacing-valign
cellpadding --> th, td { padding: 5px; }

cellspacing --> 
table { border-collapse:separate; border-spacing: 5px; } // cellspacing="5"
table { border-collapse:collapse; border-spacing: 0; }   // cellspacing="0"

valign --> th, td { vertical-align: top; }

align (center) --> table { margin: 0 auto; }

*/
/* http://quocity.com/colresizable/ */
/*
old:
    <div class="multiRangeSliderContainer">
        <div id="multiRangeSlider"></div>
        <div id="rangeLabelParent"></div>
        <div id="splitAndFuseButtonParent"></div>
    </div>
now:
structure:                                                                                                       name in original demo          id 
    div.multiRangeSliderContainer                                                                                     .center                 bucketTop
        div.multiRangeSlider                                                                                          #slider                 bucketParent
            table.multiRangeSliderTable             >> call .colResizable on this one                                 #range                    buckets
        div.rangeLabelParent                        >> has the colored divs with the ranges printed on them             -                     bucketLabels
        div.splitAndFuseButtonParent                >> has the split and fuse buttons (axes and hearts) in it           -                     bucketButtons

remarks:
.multiRangeSlider : grips will be inserted first, then comes .multRangeSliderTable
div.rangeLabelParent: div.evenTdInfo and div.oddTdInfo as alternating children
*/
div.multiRangeSliderContainer{
	text-align:left;
	margin-left: auto;
	margin-right: auto;	
}
div.multiRangeSlider {
	background-image: url('../img/rangeBar.png');	
	background-repeat: repeat-x;
	background-position:0px 10px;
}
div.multiRangeSlider:before {
	display:block;
	background-image: url('../img/rangeBar.png');	
	background-position:0px 10px;
	background-repeat: repeat-x;
	margin-left:9px;
	height:30px;
	position:relative;
	position:absolute;
	content:""
}
table.multiRangeSliderTable {
	border:none;
	height:37px;
    width: 100%;
    border-spacing:0;
    border-collapse:collapse;    
}
table.multiRangeSliderTable td{
	border:none;
    padding: 0px;    
}

.rangeGripBIG{
	width:22px;
	height:33px;
	cursor:e-resize;
	background-image: url('../img/sliderBIG.png');
	z-index:8;
}
.rangeGrip{
	width:10px;
	height:19px;
	cursor:e-resize;
	background-image: url('../img/slider.png');
	z-index:8;
}

.rangeDrag .rangeGrip, .rangeGrip:hover{
	background-position:right;
}

div.evenTdInfo {
    background-color: #DDEEFF;
    text-align: center;
    font-size: 10pt;
}
div.oddTdInfo {
    background-color: #FFEEDD;
    text-align: center;
    font-size: 10pt;
}
/********** extra table (TODO: hove stuff over here from all.css) ********/
table>tbody>tr.warn1 {
    background-color: #FFEECC;
}
table>tbody>tr.warn2 {
    background-color: #FFDDAA;
}
table>tbody>tr.warn3 {
    background-color: #FFCC99;
}
table>tbody>tr.warn4 {
    background-color: #FFBB77;
}
table>tbody>tr.warn5 {
    background-color: #FFAA33;
}
table>tbody>tr.warn6 {
    background-color: #FF8822;
}
table>tbody>tr.warn7 {
    background-color: #FF6611;
}
table>tbody>tr.warn8 {
    background-color: #FF2200;
}
table>tbody>tr.warn9 {
    background-color: #FF0000;
}
table>tbody>tr.warn10 {
    background-color: #EE0000;
}
table>tbody>tr.warn11 {
    background-color: #DD0000;
}
#warningAboutTooLargeFlowRange {
    color: #FF9933;
}
/*************************************************/
/*.specialCanvas {    width: 850px;    height: 600px;}*/


    .openEye, .closedEye {
        width: 16px;
        height: 16px;
        cursor: pointer;
    }
    .openEye{
        background: url("../img/images.gif") scroll -4px -486px transparent;
    }
    .closedEye{
        background: url("../img/images.gif") scroll -4px -470px transparent;
    }
    /*
    .openEye:hover {
        background: url("../chartLib/images/images.gif") scroll -4px -486px #FFFF99;
    }
    .closedEye:hover{
        background: url("../chartLib/images/images.gif") scroll -4px -470px #FFFF99;
    }*/
    td.eyeParent:hover {
        background-color: #FFFF88;
    }
.flowHeadRankTable>tbody>tr>td {
    border: 1px black solid;
}
td.littleCanvasParent:hover {
    background-color: #FFFF88;
    cursor: pointer;
}
.flowHeadCanvasXlegend {
    position: absolute;
}
.colorLegend {
    width: 225px;
}
.colorLegend>span {
    white-space: nowrap;
}
table.flowHeadRankTable tr.chosen td{
    background-color: #FFCC99;
}

/*#####Tayfun#####*/
#bucketExtra table{
	font-size:12px;
}
#bucketExtra table tr:first-child{
	color:#000000;
}
#bucketExtra table tr{
	color:#275FBD;
}